.home {
	font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 20px;
  color: var(--blueberry);
  margin-top: 90px;
}
@media only screen and (min-width: 65em) {
	.home {
		margin-top: 0;
	}
}
.home-page-banner {
	text-align: center;
	font-size: 20px;
	max-width: 1000px;
	margin: 25px auto 0 auto;
	color:var(--blueberry);
}
.fake-quotes {
	margin-top: 40px;
	margin-right: 10px;
}
.quote {
	margin-top:10px;
}
.quote-by {
	font-size: 12px;
}

.find-yours {
	margin-top: 40px;
}
.quote-qualifier {
	font-size: 9px;
	font-weight:bold;
}

.under-banner-bar {
	background-color: var(--apple-core);
	padding:20px;
	margin-top:30px;
}

.fun-fact {
	font-size: 20px;
	font-style: italic;
	color: white;
}

.question {
	margin-top: 30px;
	text-align: center;
	border-bottom: solid 1px var(--line-color);
}

.question-text {
	max-width: 550px;
	margin: 40px auto 30px auto;
}

.question button {
	margin-bottom: 50px;
}

.history {
	background-color: var(--blueberry);
	padding: 20px 0;
	text-align:center;
	color:white;
}

.history-title {
	margin-top: 10px;
	color:white;
	font-size: 48px;
	font-weight: bold;
}

.history-title-subtext {
	font-size: 20px;
	font-style: italic;
	margin-bottom: 25px;
}

.history-book {
	padding-bottom: 20px;
	max-width: 1000px;
	margin: 0 auto;
}

.history-book h6 {
	margin-bottom: 10px;
	font-size:20px;
	color:white;
	font-weight: bold;
}

.history-book p {
	text-align: left;
	font-size:18px;
	max-width: 370px;
	margin: 0 auto;
	color: white;
}

.history-book img {
	margin-bottom: 10px;
}

.left-page img {
	width:100px;
	height:auto;
}

.left-page {
	border-right: none;
	padding-bottom: 40px;
	max-width:80%;
	margin: 0 auto 40px auto;
	border-bottom: 1px solid white;
}
.right-page img {
	width:80px;
	height:auto;
}

.embrace-tradition {
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: var(--citrus);
}

.embrace-tradition:hover {
	background-color: var(--citrus-hover);
}
.favorites {
	margin-bottom: 70px;
}
.favorites h4{
	margin-top:30px;
	color: var(--citrus);
	text-decoration-line: underline;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0;
}
.favorites h2{
	color: var(--blueberry);
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 40px;
	margin-top: -10px;
}

.single-favorite-container {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

.single-favorite-container h6 {
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 30px;
}

.favorite-canvas {
  background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
  background-color: white;
  width: 200px;
	height: 200px;
	margin:0 auto;
	border-radius: 3px;
	padding:0 0;
	border:none;

}
.favorite-canvas img{
	width: auto;
  max-width: 200px;
  height: auto;
}

.favorites-button {
	background-color: var(--citrus);
	margin-top: 20px;
}
.favorites-button:hover {
	background-color: var(--citrus-hover);
}


@media only screen and (min-width: 65em) {  
	.left-page {
		border-right:1px solid white;
		border-bottom: none;
		padding-bottom: 20px;
		max-width:100%;
		margin: 0 auto 0 auto;
	}

}


/*ANIMATIONS*/
.home-duck {
  animation: slidein 1s;
}
.quote:nth-child(1) {
  animation: fadein 1.5s;
}

.quote:nth-child(2) {
  animation: fadein 2s;
}

.quote:nth-child(3) {
  animation: fadein 2.5s;
}

.quote:nth-child(4) {
  animation: fadein 3s;
}

.find-yours {
  animation: fadein 1.5s;
}

.quote-qualifier {
  animation: fadein 8s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slidein {
    from { opacity: 0; margin-left: -50px; }
    to   { opacity: 1; margin-left: 0; }
}