@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  --citrus: #f7c331;
  --blueberry: #6b7a8f;
  --apricot:#f7882f;
  --apple-core:#dcc7aa;
  --grey:#dddddd;
}

body, html {
   height:100%
}

#content {
	margin-left:100px;
	/*background-color: var(--grey);*/
	min-height: 100%;
}