@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700');

body {
  --citrus: #FCCD58;
  --blueberry: #6b7a8f;
  --apricot:#f7882f;
  --apricot-hover:#E68232;
  --citrus-hover:#E2B649;
  --apple-core:#dcc7aa;
  --grey:#dddddd;
  --duck-eyes:#55B3E7;
  --duck-eyes-hover:#479ac6;
  --line-color:rgba(0, 0, 0, 0.08);
}

body, html {
   height:100%;
   margin: 0;
}

#content {
  margin: 70px 0 0 0;
	min-height: 100%;
}

.shadow {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}
.premium {
  font-weight: bold;
  text-decoration-line: underline;
  color: var(--citrus)
}

button {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: var(--duck-eyes);
	font-weight: bold;
	font-size: 20px;
	-webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border: 1px solid transparent;
	-webkit-appearance: none;
	padding: 10px 15px;
	color:white;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: var(--duck-eyes-hover);
}

h1, h2, h3, h4, h5, h6, p, a{
	font-family: 'Source Sans Pro', sans-serif;
	color:var(--blueberry);
  margin-bottom: 0;
  margin-top: 0;
  width:90%;
  margin-right: auto;
  margin-left: auto;
}

#footer {
	margin-left: 100px;
	font-size: 16px;
	color:white;
	background-color: var(--apple-core);
	padding:0 20px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

#footer a{
	color:white;
	font-weight: normal;
}
#footer .row {
	padding: 20px 0;
}
#footer .designed-by {
	text-align: right;
}


/* ==== GRID SYSTEM ==== */

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
}

.col-2-sm {
  width: 16.66%;
}
.col-5-sm {
  width: 41.66%
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.only-desktop {
  display:none;
}

#footer {
  margin: 0;
}
.only-mobile {
  display: block;
}


@media only screen and (min-width: 65em) { 
  .only-desktop {
    display:block;
  }
  #content {
    margin: 0 0 0 100px;
  }
  #footer {
    margin: 0 0 0 100px;
  }
  .only-mobile {
    display: none;
  }
  h1, h2, h3, h4, h5, h6, p, a{
    width:100%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (min-width: 65em) { 
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
