.navigation {
	position:fixed;
	top:0;
	width:100px;
	height:100%;
	font-family: 'Source Sans Pro', sans-serif;
	border:0;
	border-right: 1px;
	border-style: solid;
	border-color:var(--grey);
	z-index: 100;
	background-color: white;
}

.navigation a{
	text-decoration: none;
}

.banner-heading {
	padding: 20px 0 0 0;
	text-align: center;
	border: 0;
}

.banner-image {
	max-height: 50px;
	max-width: 50px;
	margin-bottom: 10px;
}

.main-banner-heading-premium {
	text-decoration: underline var(--citrus);
	color:var(--citrus);
	font-family: inherit;
	margin-bottom:0;
}

.main-banner-heading {
	color:var(--blueberry);
	font-family: inherit;
	text-decoration: none!important;
}

.banner-navigation {
	position:relative;
	list-style-type: none;
  text-align:center;
  padding-left: 0; 
}

.banner-navigation-item {
	border: 0;
	border-top: 1px;
	border-style: solid;
	border-color: var(--grey);
}

.banner-navigation:last-child {
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: var(--grey);
}

.banner-navigation-item a{
	position:relative;
	display: block;
	padding: 30px 0;
	color: var(--blueberry);
	font-size: 20px;
	-webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration-line: underline;
}

.banner-navigation-item a:hover{
	color:var(--citrus);
}

.banner-navigation-item a::before{
	font-size:9px;
	content:"Premium";
	color: var(--citrus);
	position:absolute;
	line-height: 1em;
	left: calc(50% - 18px);
	top: 22px;
}

.banner-navigation-item .coming-soon {
	color: rgba(85, 179, 231, .45);
}
.banner-navigation-item .coming-soon::before {
	color: rgba(252, 205, 88, .45);
}

.coming-soon::after {
	font-size:16px;
	font-weight:bold;
	content:"Coming Soon";
	color: var(--duck-eyes);
	position:absolute;
	line-height: 1em;
	left: calc(50% - 40px);
	 -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
	top: 22px;
}

.active-navigation a{
	color:var(--citrus);
}



.corner-logo {
  top: -86px;
  right: -134px;
  width: 300px;
  height: 200px;
  z-index: 1000;
  text-align: center;
  position: fixed;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}
.premium-corner {
	margin-top: 127px;
  font-size: 18px;
}

.ducks-corner {
    margin-top: -4px;
    font-size: 36px;
    font-weight: bold;
    color: var(--blueberry);
}


















































